In [ ]:
import pandas as pd
import numpy as np
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler
import re
import os
from pandas import ExcelWriter

#Lectura y filtrado inicial de datos

In [ ]:
Noreste_2021 = pd.read_excel('Datos2021.xlsx', sheet_name='Noreste')
Sureste2_2021 = pd.read_excel('Datos2021.xlsx', sheet_name='Sureste2')

In [ ]:

dataframes_2021 = [Noreste_2021, Sureste2_2021]
No = ['Fecha y hora']

for df in dataframes_2021:
    columnas_numericas = df.columns.drop(No, errors='ignore')
    df[columnas_numericas] = df[columnas_numericas].apply(
        pd.to_numeric, errors='coerce'
    ).astype('float64')

In [ ]:
Noreste_2021f = Noreste_2021[Noreste_2021["Fecha y hora"].dt.hour.isin([0, 6, 12, 18])]
Sureste2_2021f = Sureste2_2021[Sureste2_2021["Fecha y hora"].dt.hour.isin([0, 6, 12, 18])]

In [ ]:
Noreste_2022 = pd.read_excel('Datos2022.xlsx', sheet_name='Noreste')
Sureste2_2022 = pd.read_excel('Datos2022.xlsx', sheet_name='Sureste2')
Noreste3_2022 = pd.read_excel('Datos2022.xlsx', sheet_name='Noreste3')

In [ ]:
dataframes = [Noreste_2022, Sureste2_2022, Noreste3_2022]

for df in dataframes:
        df.replace('NULL', np.nan, inplace=True)

In [ ]:
Noreste_2022f = Noreste_2022[Noreste_2022["Fecha y hora"].dt.hour.isin([0, 6, 12, 18])]
Sureste2_2022f = Sureste2_2022[Sureste2_2022["Fecha y hora"].dt.hour.isin([0, 6, 12, 18])]
Noreste3_2022f = Noreste3_2022[Noreste3_2022["Fecha y hora"].dt.hour.isin([0, 6, 12, 18])]

In [ ]:
Noreste_2023 = pd.read_excel('Datos2023.xlsx', sheet_name='Noreste')
Sureste2_2023 = pd.read_excel('Datos2023.xlsx', sheet_name='Sureste2')
Noreste3_2023 = pd.read_excel('Datos2023.xlsx', sheet_name='Noreste3')

In [ ]:
Noreste_2023f = Noreste_2022[Noreste_2023["Fecha y hora"].dt.hour.isin([0, 6, 12, 18])]
Sureste2_2023f = Sureste2_2023[Sureste2_2023["Fecha y hora"].dt.hour.isin([0, 6, 12, 18])]
Noreste3_2023f = Noreste3_2023[Noreste3_2023["Fecha y hora"].dt.hour.isin([0, 6, 12, 18])]

/tmp/ipython-input-413364672.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  Noreste_2023f = Noreste_2022[Noreste_2023["Fecha y hora"].dt.hour.isin([0, 6, 12, 18])]

In [ ]:
Noreste_2024 = pd.read_excel('Datos2024.xlsx', sheet_name='Noreste')
Sureste2_2024 = pd.read_excel('Datos2024.xlsx', sheet_name='Sureste2')
Noreste3_2024 = pd.read_excel('Datos2024.xlsx', sheet_name='Noreste3')

In [ ]:
Noreste_2024f = Noreste_2024[Noreste_2024["Fecha y hora"].dt.hour.isin([0, 6, 12, 18])]
Sureste2_2024f = Sureste2_2024[Sureste2_2024["Fecha y hora"].dt.hour.isin([0, 6, 12, 18])]
Noreste3_2024f = Noreste3_2024[Noreste3_2024["Fecha y hora"].dt.hour.isin([0, 6, 12, 18])]

In [ ]:
Noreste_2025 = pd.read_excel('Datos2025.xlsx', sheet_name='Noreste')
Sureste2_2025 = pd.read_excel('Datos2025.xlsx', sheet_name='Sureste2')
Noreste3_2025= pd.read_excel('Datos2025.xlsx', sheet_name='Noreste3')

In [ ]:
Noreste_2025f = Noreste_2025[Noreste_2025["Fecha y hora"].dt.hour.isin([0, 6, 12, 18])]
Sureste2_2025f = Sureste2_2025[Sureste2_2025["Fecha y hora"].dt.hour.isin([0, 6, 12, 18])]
Noreste3_2025f = Noreste3_2025[Noreste3_2025["Fecha y hora"].dt.hour.isin([0, 6, 12, 18])]

#Mantener las variables en el rango proporcionado

In [ ]:
dataframes = {
    # Año 2021
    "Noreste_2021f": Noreste_2021f,
    "Sureste2_2021f": Sureste2_2021f,

    # Año 2022
    "Noreste_2022f": Noreste_2022f,
    "Sureste2_2022f": Sureste2_2022f,
    "Noreste3_2022f": Noreste3_2022f,

    # Año 2023
    "Noreste_2023f": Noreste_2023f,
    "Sureste2_2023f": Sureste2_2023f,
    "Noreste3_2023f": Noreste3_2023f,

    # Año 2024
    "Noreste_2024f": Noreste_2024f,
    "Sureste2_2024f": Sureste2_2024f,
    "Noreste3_2024f": Noreste3_2024f,

    # Año 2025
    "Noreste_2025f": Noreste_2025f,
    "Sureste2_2025f": Sureste2_2025f,
    "Noreste3_2025f": Noreste3_2025f,
}

In [ ]:
import pandas as pd

rangos = {
    2021: {"PM10": (0,900), "PM2.5": (0,800), "O3": (0,175), "NO": (0,500), "NO2": (0,175),
           "NOX": (0,500), "SO2": (0,250), "CO": (0,14), "RH": (0,100), "WSR": (0,40),
           "TOUT": (0,45), "SR": (0,1), "PRS": (690,740), "WDR": (0,360), "RAINF": (0,70)},
    2022: {"PM10": (0,900), "PM2.5": (0,800), "O3": (0,175), "NO": (0,500), "NO2": (0,175),
           "NOX": (0,500), "SO2": (0,250), "CO": (0,14), "RH": (0,100), "WSR": (0,40),
           "TOUT": (0,45), "SR": (0,1), "PRS": (690,740), "WDR": (0,360), "RAINF": (0,70)},
    2023: {"PM10": (0,900), "PM2.5": (0,800), "O3": (0,175), "NO": (0,500), "NO2": (0,175),
           "NOX": (0,500), "SO2": (0,250), "CO": (0,14), "RH": (0,100), "WSR": (0,40),
           "TOUT": (0,45), "SR": (0,1), "PRS": (690,740), "WDR": (0,360), "RAINF": (0,70)},

    2024: {"PM10": (0,999), "PM2.5": (0,999), "O3": (0,180), "NO": (0,400), "NO2": (0,130),
           "NOX": (0,500), "SO2": (0,150), "CO": (0,18), "RH": (0,100), "WSR": (0,38),
           "TOUT": (-4,45.5), "SR": (0,1.26), "PRS": (687.5,740), "WDR": (0,360), "RAINF": (0,50)},

    2025: {"PM10": (0,820), "PM2.5": (0,350), "O3": (0,185), "NO": (0,350), "NO2": (0,175),
           "NOX": (0,400), "SO2": (0,405), "CO": (0,10), "RH": (0,100), "WSR": (0,40),
           "TOUT": (-4.5,45), "SR": (0,1.2), "PRS": (688,740), "WDR": (0,360), "RAINF": (0,25)},
}


mapa_columnas = {
    "CO (ppm)": "CO", "NO (ppb)": "NO", "NO2 (ppb)": "NO2",
    "O3 (ppb)": "O3", "SR (kW/m2)": "SR",
}



def aplicar_rangos_suaves(df, año):

    r = rangos[año]
    df_filtrado = df.copy()

    for col_real, col_rango in mapa_columnas.items():
        if col_real in df.columns and col_rango in r:
            min_val, max_val = r[col_rango]

            fuera_rango = ~df[col_real].between(min_val, max_val, inclusive="both")

            df_filtrado.loc[fuera_rango, col_real] = np.nan

    return df_filtrado




filtrados = {}
for nombre, df in dataframes.items():
    match = re.search(r"\d{4}", nombre)
    año = int(match.group())
    df_filtrado = aplicar_rangos_suaves(df, año)
    filtrados[nombre] = df_filtrado
    print(f"{nombre}: {len(df)} filas procesadas. Valores fuera de rango reemplazados con NaN.")

Noreste_2021f: 1488 filas procesadas. Valores fuera de rango reemplazados con NaN.
Sureste2_2021f: 1488 filas procesadas. Valores fuera de rango reemplazados con NaN.
Noreste_2022f: 1460 filas procesadas. Valores fuera de rango reemplazados con NaN.
Sureste2_2022f: 1460 filas procesadas. Valores fuera de rango reemplazados con NaN.
Noreste3_2022f: 1460 filas procesadas. Valores fuera de rango reemplazados con NaN.
Noreste_2023f: 1461 filas procesadas. Valores fuera de rango reemplazados con NaN.
Sureste2_2023f: 1460 filas procesadas. Valores fuera de rango reemplazados con NaN.
Noreste3_2023f: 1460 filas procesadas. Valores fuera de rango reemplazados con NaN.
Noreste_2024f: 1464 filas procesadas. Valores fuera de rango reemplazados con NaN.
Sureste2_2024f: 1464 filas procesadas. Valores fuera de rango reemplazados con NaN.
Noreste3_2024f: 1464 filas procesadas. Valores fuera de rango reemplazados con NaN.
Noreste_2025f: 724 filas procesadas. Valores fuera de rango reemplazados con NaN.
Sureste2_2025f: 724 filas procesadas. Valores fuera de rango reemplazados con NaN.
Noreste3_2025f: 721 filas procesadas. Valores fuera de rango reemplazados con NaN.

In [ ]:
Noreste_2021f.columns

Index(['Fecha y hora', 'CO (ppm)', 'NO (ppb)', 'NO2 (ppb)', 'O3 (ppb)',
       'SR (kW/m2)'],
      dtype='object')

#Análisis Null

In [ ]:
Noreste_2021f.info()
Sureste2_2021f.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1488 entries, 0 to 8754
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Fecha y hora  1488 non-null   datetime64[ns]
 1   CO (ppm)      1439 non-null   float64
 2   NO (ppb)      1336 non-null   float64
 3   NO2 (ppb)     1253 non-null   float64
 4   O3 (ppb)      1252 non-null   float64
 5   SR (kW/m2)    1466 non-null   float64
dtypes: datetime64[ns](1), float64(5)
memory usage: 81.4 KB
<class 'pandas.core.frame.DataFrame'>
Index: 1488 entries, 0 to 8754
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Fecha y hora  1488 non-null   datetime64[ns]
 1   CO (ppm)      1311 non-null   float64
 2   NO (ppb)      1118 non-null   float64
 3   NO2 (ppb)     1121 non-null   float64
 4   O3 (ppb)      908 non-null    float64
 5   SR (kW/m2)    1469 non-null   float64
dtypes: datetime64[ns](1), float64(5)
memory usage: 81.4 KB

In [ ]:
Noreste_2022f.info()
Sureste2_2022f.info()
Noreste3_2022f.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1460 entries, 0 to 8754
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Fecha y hora  1460 non-null   datetime64[ns]
 1   CO (ppm)      1424 non-null   float64
 2   NO (ppb)      1422 non-null   float64
 3   NO2 (ppb)     1424 non-null   float64
 4   O3 (ppb)      1389 non-null   float64
 5   SR (kW/m2)    1435 non-null   float64
dtypes: datetime64[ns](1), float64(5)
memory usage: 79.8 KB
<class 'pandas.core.frame.DataFrame'>
Index: 1460 entries, 0 to 8754
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Fecha y hora  1460 non-null   datetime64[ns]
 1   CO (ppm)      1349 non-null   float64
 2   NO (ppb)      1381 non-null   float64
 3   NO2 (ppb)     1391 non-null   float64
 4   O3 (ppb)      1364 non-null   float64
 5   SR (kW/m2)    1430 non-null   float64
dtypes: datetime64[ns](1), float64(5)
memory usage: 79.8 KB
<class 'pandas.core.frame.DataFrame'>
Index: 1460 entries, 0 to 8754
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Fecha y hora  1460 non-null   datetime64[ns]
 1   CO (ppm)      1374 non-null   float64
 2   NO (ppb)      1375 non-null   float64
 3   NO2 (ppb)     1375 non-null   float64
 4   O3 (ppb)      1385 non-null   float64
 5   SR (kW/m2)    1218 non-null   float64
dtypes: datetime64[ns](1), float64(5)
memory usage: 79.8 KB

In [ ]:
Noreste_2023f.info()
Sureste2_2023f.info()
Noreste3_2023f.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1461 entries, 0 to 8758
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Fecha y hora  1461 non-null   datetime64[ns]
 1   CO (ppm)      1439 non-null   float64
 2   NO (ppb)      1427 non-null   float64
 3   NO2 (ppb)     1438 non-null   float64
 4   O3 (ppb)      1412 non-null   float64
 5   SR (kW/m2)    1455 non-null   float64
dtypes: datetime64[ns](1), float64(5)
memory usage: 79.9 KB
<class 'pandas.core.frame.DataFrame'>
Index: 1460 entries, 0 to 8752
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Fecha y hora  1460 non-null   datetime64[ns]
 1   CO (ppm)      1313 non-null   float64
 2   NO (ppb)      1428 non-null   float64
 3   NO2 (ppb)     1443 non-null   float64
 4   O3 (ppb)      1430 non-null   float64
 5   SR (kW/m2)    1458 non-null   float64
dtypes: datetime64[ns](1), float64(5)
memory usage: 79.8 KB
<class 'pandas.core.frame.DataFrame'>
Index: 1460 entries, 0 to 8751
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Fecha y hora  1460 non-null   datetime64[ns]
 1   CO (ppm)      1411 non-null   float64
 2   NO (ppb)      1351 non-null   float64
 3   NO2 (ppb)     1350 non-null   float64
 4   O3 (ppb)      1384 non-null   float64
 5   SR (kW/m2)    1259 non-null   float64
dtypes: datetime64[ns](1), float64(5)
memory usage: 79.8 KB

In [ ]:
Noreste_2024f.info()
Sureste2_2024f.info()
Noreste3_2024f.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1464 entries, 0 to 8778
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Fecha y hora  1464 non-null   datetime64[ns]
 1   CO (ppm)      1431 non-null   float64
 2   NO (ppb)      1427 non-null   float64
 3   NO2 (ppb)     1433 non-null   float64
 4   O3 (ppb)      1397 non-null   float64
 5   SR (kW/m2)    1438 non-null   float64
dtypes: datetime64[ns](1), float64(5)
memory usage: 80.1 KB
<class 'pandas.core.frame.DataFrame'>
Index: 1464 entries, 0 to 8776
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Fecha y hora  1464 non-null   datetime64[ns]
 1   CO (ppm)      1271 non-null   float64
 2   NO (ppb)      1361 non-null   float64
 3   NO2 (ppb)     1370 non-null   float64
 4   O3 (ppb)      1280 non-null   float64
 5   SR (kW/m2)    1458 non-null   float64
dtypes: datetime64[ns](1), float64(5)
memory usage: 80.1 KB
<class 'pandas.core.frame.DataFrame'>
Index: 1464 entries, 0 to 8776
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Fecha y hora  1464 non-null   datetime64[ns]
 1   CO (ppm)      1379 non-null   float64
 2   NO (ppb)      1363 non-null   float64
 3   NO2 (ppb)     1365 non-null   float64
 4   O3 (ppb)      1382 non-null   float64
 5   SR (kW/m2)    1278 non-null   float64
dtypes: datetime64[ns](1), float64(5)
memory usage: 80.1 KB

In [ ]:
Noreste_2025f.info()
Sureste2_2025f.info()
Noreste3_2025f.info()

<class 'pandas.core.frame.DataFrame'>
Index: 724 entries, 0 to 4337
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Fecha y hora  724 non-null    datetime64[ns]
 1   CO (ppm)      593 non-null    float64
 2   NO (ppb)      590 non-null    float64
 3   NO2 (ppb)     591 non-null    float64
 4   O3 (ppb)      581 non-null    float64
 5   SR (kW/m2)    705 non-null    float64
dtypes: datetime64[ns](1), float64(5)
memory usage: 39.6 KB
<class 'pandas.core.frame.DataFrame'>
Index: 724 entries, 0 to 4337
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Fecha y hora  724 non-null    datetime64[ns]
 1   CO (ppm)      556 non-null    float64
 2   NO (ppb)      672 non-null    float64
 3   NO2 (ppb)     703 non-null    float64
 4   O3 (ppb)      691 non-null    float64
 5   SR (kW/m2)    717 non-null    float64
dtypes: datetime64[ns](1), float64(5)
memory usage: 39.6 KB
<class 'pandas.core.frame.DataFrame'>
Index: 721 entries, 0 to 4314
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Fecha y hora  721 non-null    datetime64[ns]
 1   CO (ppm)      573 non-null    float64
 2   NO (ppb)      568 non-null    float64
 3   NO2 (ppb)     572 non-null    float64
 4   O3 (ppb)      626 non-null    float64
 5   SR (kW/m2)    617 non-null    float64
dtypes: datetime64[ns](1), float64(5)
memory usage: 39.4 KB

In [ ]:


for nombre, df in dataframes.items():
    print(f" DataFrame: {nombre}")

    total_filas = len(df)

    nulos_conteo = df.isnull().sum()

    nulos_porcentaje = (nulos_conteo / total_filas) * 100

    resumen_nulos = pd.DataFrame({
        'Valores Nulos (Conteo)': nulos_conteo,
        'Porcentaje Nulos (%)': nulos_porcentaje.round(2)
    })

    resumen_nulos = resumen_nulos[resumen_nulos['Valores Nulos (Conteo)'] > 0]

    if not resumen_nulos.empty:
        print(resumen_nulos)
    else:
        print("No se encontraron valores nulos en este DataFrame")

    print("\n" + "-"*40 + "\n")

 DataFrame: Noreste_2021f
            Valores Nulos (Conteo)  Porcentaje Nulos (%)
CO (ppm)                        49                  3.29
NO (ppb)                       152                 10.22
NO2 (ppb)                      235                 15.79
O3 (ppb)                       236                 15.86
SR (kW/m2)                      22                  1.48

----------------------------------------

 DataFrame: Sureste2_2021f
            Valores Nulos (Conteo)  Porcentaje Nulos (%)
CO (ppm)                       177                 11.90
NO (ppb)                       370                 24.87
NO2 (ppb)                      367                 24.66
O3 (ppb)                       580                 38.98
SR (kW/m2)                      19                  1.28

----------------------------------------

 DataFrame: Noreste_2022f
            Valores Nulos (Conteo)  Porcentaje Nulos (%)
CO (ppm)                        36                  2.47
NO (ppb)                        38                  2.60
NO2 (ppb)                       36                  2.47
O3 (ppb)                        71                  4.86
SR (kW/m2)                      25                  1.71

----------------------------------------

 DataFrame: Sureste2_2022f
            Valores Nulos (Conteo)  Porcentaje Nulos (%)
CO (ppm)                       111                  7.60
NO (ppb)                        79                  5.41
NO2 (ppb)                       69                  4.73
O3 (ppb)                        96                  6.58
SR (kW/m2)                      30                  2.05

----------------------------------------

 DataFrame: Noreste3_2022f
            Valores Nulos (Conteo)  Porcentaje Nulos (%)
CO (ppm)                        86                  5.89
NO (ppb)                        85                  5.82
NO2 (ppb)                       85                  5.82
O3 (ppb)                        75                  5.14
SR (kW/m2)                     242                 16.58

----------------------------------------

 DataFrame: Noreste_2023f
            Valores Nulos (Conteo)  Porcentaje Nulos (%)
CO (ppm)                        22                  1.51
NO (ppb)                        34                  2.33
NO2 (ppb)                       23                  1.57
O3 (ppb)                        49                  3.35
SR (kW/m2)                       6                  0.41

----------------------------------------

 DataFrame: Sureste2_2023f
            Valores Nulos (Conteo)  Porcentaje Nulos (%)
CO (ppm)                       147                 10.07
NO (ppb)                        32                  2.19
NO2 (ppb)                       17                  1.16
O3 (ppb)                        30                  2.05
SR (kW/m2)                       2                  0.14

----------------------------------------

 DataFrame: Noreste3_2023f
            Valores Nulos (Conteo)  Porcentaje Nulos (%)
CO (ppm)                        49                  3.36
NO (ppb)                       109                  7.47
NO2 (ppb)                      110                  7.53
O3 (ppb)                        76                  5.21
SR (kW/m2)                     201                 13.77

----------------------------------------

 DataFrame: Noreste_2024f
            Valores Nulos (Conteo)  Porcentaje Nulos (%)
CO (ppm)                        33                  2.25
NO (ppb)                        37                  2.53
NO2 (ppb)                       31                  2.12
O3 (ppb)                        67                  4.58
SR (kW/m2)                      26                  1.78

----------------------------------------

 DataFrame: Sureste2_2024f
            Valores Nulos (Conteo)  Porcentaje Nulos (%)
CO (ppm)                       193                 13.18
NO (ppb)                       103                  7.04
NO2 (ppb)                       94                  6.42
O3 (ppb)                       184                 12.57
SR (kW/m2)                       6                  0.41

----------------------------------------

 DataFrame: Noreste3_2024f
            Valores Nulos (Conteo)  Porcentaje Nulos (%)
CO (ppm)                        85                  5.81
NO (ppb)                       101                  6.90
NO2 (ppb)                       99                  6.76
O3 (ppb)                        82                  5.60
SR (kW/m2)                     186                 12.70

----------------------------------------

 DataFrame: Noreste_2025f
            Valores Nulos (Conteo)  Porcentaje Nulos (%)
CO (ppm)                       131                 18.09
NO (ppb)                       134                 18.51
NO2 (ppb)                      133                 18.37
O3 (ppb)                       143                 19.75
SR (kW/m2)                      19                  2.62

----------------------------------------

 DataFrame: Sureste2_2025f
            Valores Nulos (Conteo)  Porcentaje Nulos (%)
CO (ppm)                       168                 23.20
NO (ppb)                        52                  7.18
NO2 (ppb)                       21                  2.90
O3 (ppb)                        33                  4.56
SR (kW/m2)                       7                  0.97

----------------------------------------

 DataFrame: Noreste3_2025f
            Valores Nulos (Conteo)  Porcentaje Nulos (%)
CO (ppm)                       148                 20.53
NO (ppb)                       153                 21.22
NO2 (ppb)                      149                 20.67
O3 (ppb)                        95                 13.18
SR (kW/m2)                     104                 14.42

----------------------------------------

#Imputación

In [ ]:
from sklearn.impute import KNNImputer
from sklearn.preprocessing import StandardScaler
import pandas as pd
import numpy as np

def imputar_knn(df, k=5):
    df = df.copy()

    date_col = df.columns[0]
    fechas = df[date_col].copy()
    datos = df.drop(columns=[date_col]).copy()

    cols_num = datos.select_dtypes(include=[np.number]).columns
    cols_imputar = [c for c in cols_num if datos[c].isna().mean() < 0.4]

    if not cols_imputar:
        return df, {}

    valores_antes = datos[cols_imputar].copy()
    datos_a_escalar = datos[cols_imputar].copy()


    scaler = StandardScaler()
    datos_escalados = scaler.fit_transform(datos_a_escalar)
    datos_a_imputar_df = pd.DataFrame(datos_escalados, columns=cols_imputar, index=datos_a_escalar.index)

    imputer = KNNImputer(n_neighbors=k)
    datos_imputados_escalados = imputer.fit_transform(datos_a_imputar_df)

    datos_imputados_df = pd.DataFrame(datos_imputados_escalados, columns=cols_imputar, index=datos_a_imputar_df.index)
    datos_finales_desescalados = scaler.inverse_transform(datos_imputados_df)

    datos_knn = datos.copy()
    datos_knn[cols_imputar] = datos_finales_desescalados

    df_final = pd.concat([fechas.reset_index(drop=True), datos_knn.reset_index(drop=True)], axis=1)

    comparacion = {}
    for col in cols_imputar:
        mask_na = valores_antes[col].isna()
        comparacion[col] = pd.DataFrame({
            "Antes (NA)": valores_antes[col][mask_na],
            "Después": datos_knn[col][mask_na]
        })

    return df_final, comparacion

In [ ]:
dataframes_definitivos = {}
comparaciones_knn = {}

for nombre, df in dataframes.items():
    print(f"\nProcesando {nombre} con KNN...")

    df_imputado, comparacion = imputar_knn(df)

    nuevo_nombre = f"{nombre}Definitivo"
    dataframes_definitivos[nuevo_nombre] = df_imputado
    comparaciones_knn[nombre] = comparacion

print("\nImputación finalizada. Dataframes guardados en dataframes_definitivos.")

Procesando Noreste_2021f con KNN...

Procesando Sureste2_2021f con KNN...

Procesando Noreste_2022f con KNN...

Procesando Sureste2_2022f con KNN...

Procesando Noreste3_2022f con KNN...

Procesando Noreste_2023f con KNN...

Procesando Sureste2_2023f con KNN...

Procesando Noreste3_2023f con KNN...

Procesando Noreste_2024f con KNN...

Procesando Sureste2_2024f con KNN...

Procesando Noreste3_2024f con KNN...

Procesando Noreste_2025f con KNN...

Procesando Sureste2_2025f con KNN...

Procesando Noreste3_2025f con KNN...

Imputación finalizada. Dataframes guardados en dataframes_definitivos.

In [ ]:


def extraer_anio(nombre):
    match = re.search(r"(20\d{2})", nombre)
    return match.group(1) if match else None


dataframes_por_anio = {}

for nombre, df in dataframes_definitivos.items():
    anio = extraer_anio(nombre)
    if anio is None:
        print(f"No se encontró año en: {nombre}")
        continue

    if anio not in dataframes_por_anio:
        dataframes_por_anio[anio] = {}

    dataframes_por_anio[anio][nombre] = df


carpeta = "ExcelsPorAnio"
os.makedirs(carpeta, exist_ok=True)

for anio, dfs in dataframes_por_anio.items():
    filepath = f"{carpeta}/{anio}.xlsx"

    with ExcelWriter(filepath, engine="openpyxl") as writer:
        for nombre_df, df in dfs.items():
            sheet_name = nombre_df[:31]
            df.to_excel(writer, sheet_name=sheet_name, index=False)

    print(f"Guardado: {filepath}")

Guardado: ExcelsPorAnio/2021.xlsx
Guardado: ExcelsPorAnio/2022.xlsx
Guardado: ExcelsPorAnio/2023.xlsx
Guardado: ExcelsPorAnio/2024.xlsx
Guardado: ExcelsPorAnio/2025.xlsx

In [ ]:
for nombre, comp in comparaciones_knn.items():
    print(f"\n--- {nombre} ---")
    for col, df_comp in comp.items():
        print(f"{col}: imputados = {df_comp.shape[0]} valores")

--- Noreste_2021f ---
CO (ppm): imputados = 49 valores
NO (ppb): imputados = 152 valores
NO2 (ppb): imputados = 235 valores
O3 (ppb): imputados = 236 valores
SR (kW/m2): imputados = 22 valores

--- Sureste2_2021f ---
CO (ppm): imputados = 177 valores
NO (ppb): imputados = 370 valores
NO2 (ppb): imputados = 367 valores
O3 (ppb): imputados = 580 valores
SR (kW/m2): imputados = 19 valores

--- Noreste_2022f ---
CO (ppm): imputados = 36 valores
NO (ppb): imputados = 38 valores
NO2 (ppb): imputados = 36 valores
O3 (ppb): imputados = 71 valores
SR (kW/m2): imputados = 25 valores

--- Sureste2_2022f ---
CO (ppm): imputados = 111 valores
NO (ppb): imputados = 79 valores
NO2 (ppb): imputados = 69 valores
O3 (ppb): imputados = 96 valores
SR (kW/m2): imputados = 30 valores

--- Noreste3_2022f ---
CO (ppm): imputados = 86 valores
NO (ppb): imputados = 85 valores
NO2 (ppb): imputados = 85 valores
O3 (ppb): imputados = 75 valores
SR (kW/m2): imputados = 242 valores

--- Noreste_2023f ---
CO (ppm): imputados = 22 valores
NO (ppb): imputados = 34 valores
NO2 (ppb): imputados = 23 valores
O3 (ppb): imputados = 49 valores
SR (kW/m2): imputados = 6 valores

--- Sureste2_2023f ---
CO (ppm): imputados = 147 valores
NO (ppb): imputados = 32 valores
NO2 (ppb): imputados = 17 valores
O3 (ppb): imputados = 30 valores
SR (kW/m2): imputados = 2 valores

--- Noreste3_2023f ---
CO (ppm): imputados = 49 valores
NO (ppb): imputados = 109 valores
NO2 (ppb): imputados = 110 valores
O3 (ppb): imputados = 76 valores
SR (kW/m2): imputados = 201 valores

--- Noreste_2024f ---
CO (ppm): imputados = 33 valores
NO (ppb): imputados = 37 valores
NO2 (ppb): imputados = 31 valores
O3 (ppb): imputados = 67 valores
SR (kW/m2): imputados = 26 valores

--- Sureste2_2024f ---
CO (ppm): imputados = 193 valores
NO (ppb): imputados = 103 valores
NO2 (ppb): imputados = 94 valores
O3 (ppb): imputados = 184 valores
SR (kW/m2): imputados = 6 valores

--- Noreste3_2024f ---
CO (ppm): imputados = 85 valores
NO (ppb): imputados = 101 valores
NO2 (ppb): imputados = 99 valores
O3 (ppb): imputados = 82 valores
SR (kW/m2): imputados = 186 valores

--- Noreste_2025f ---
CO (ppm): imputados = 131 valores
NO (ppb): imputados = 134 valores
NO2 (ppb): imputados = 133 valores
O3 (ppb): imputados = 143 valores
SR (kW/m2): imputados = 19 valores

--- Sureste2_2025f ---
CO (ppm): imputados = 168 valores
NO (ppb): imputados = 52 valores
NO2 (ppb): imputados = 21 valores
O3 (ppb): imputados = 33 valores
SR (kW/m2): imputados = 7 valores

--- Noreste3_2025f ---
CO (ppm): imputados = 148 valores
NO (ppb): imputados = 153 valores
NO2 (ppb): imputados = 149 valores
O3 (ppb): imputados = 95 valores
SR (kW/m2): imputados = 104 valores